@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Firefox support */
html {
  scrollbar-width: thin;
  scrollbar-color: #27272a #050505;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
